<header class="site-header">
  <div class="header-container">
    <div class="logo">
      <%= link_to "サイト名", root_path %>
    </div>
    <nav class="main-nav">
      <ul>
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "お問い合わせ", contact_path %></li>
      </ul>
    </nav>
  </div>
</header> 